.ampoule {
  width: 150px;
  height: 150px;
  border: solid black 2px;
  padding: 50px;
  border-radius: 50%;
}

.on {
  background-color: yellow;
}

.off {
  background-color: black;
  color: white;
}
